<footer>
    <div class="footerlabel">
        <!-- <picture class="footerlabe"></picture> -->
    </div>
    <div class="footer_url">
        <h5 class="footer_about">ABOUT</h5>
        <h5 class="footer_services">SERVICES</h5>
        <h5 class="footer_technolog">TECHNOLOGIES</h5>
        <h5 class="footer_how">HOW TO</h5>
        <h5 class="footer_join">JOIN HYDRA</h5>
    </div>
    <div class="footer_document">
        <h5 class="footer_document_F.A.Q">F.A.Q</h5>
        <h5 class="footer_document_SITEMAP">SITEMAP</h5>
        <h5 class="footer_document_CONDITIONS">CONDITIONS</h5>
        <h5 class="footer_document_LICENSES">LICENSES</h5>
    </div>
<div class="footer_SOCIAL">
    <h5 class="footer_SOCIALIZE">SOCIALIZE WITH HYDRA</h5>
    <div class="footer_SOCIAL_link">
    <p class="footer_facebook"></p>
    <p class="footer_twitter"></p>
    <p class="footer_linkedin"></p>
    <p class="footer_youtube"></p>
    <p class="footer_instagram"></p>
    <p class="footer_pinterest"></p>
</div>


 
</div>
<button class="footer_button">BUILD YOUR WORLD</button>
<div class="copyrite"> <p>2023 © HYDRA LANDING PAGE - BY ZINE. E. FALOUTI - ALL RIGHTS RESERVED </p>
 </div>
<div class="line1"></div>
<div class="line2"></div>
<div class="line3"></div>

<div class="footer_line4"></div>
</footer>