<span class="step4">

<div class="Technologie">
    <h2 class="TechnologieH2" >TECHNOLOGIES & HARDWARE</h2>
    <p class="TechnologieP">USED BY HYDRA VR.</p>
</div>

<div class="Technologies_mob" style="width: 100%; height: 300px;   padding: 12px;  box-sizing: border-box; margin: 0 auto;">
    <image-slider style="width: 290px; height: 200px;" [slides]="slides"></image-slider>
</div>

<div class="Technologies_DESTOP">
    <h2>TECHNOLOGIES & HARDWARE</h2>
    <p>USED BY HYDRA VR.</p>
</div>
<div class="Technologies_DESTOP_invest">
<img src="https://i.imgur.com/9e6Dk0h.png" alt="unreal">
<img src= "https://i.imgur.com/OMESKYf.png" alt="unity">
<img src="https://i.imgur.com/xme4aa7.png" alt="ocolus">
<img src="https://i.imgur.com/W0PYBDy.png" alt="vive">
</div>
</span>