   <header class="header">
        <picture class="header_logo">
        </picture>
        <span class="header_name">
            <picture class="h"></picture>
            <picture class="y"></picture>
            <picture class="d"></picture>
            <picture class="r"></picture>
            <picture class="a"></picture>
        </span>
        <span class="header_menu_decstop">
            <a class="p" href="" routerLink="/admin"  routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">Admin</a>
            <a class="p" href="" routerLink="/about"  routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">ABOUT</a>
            <a class="p" href="" routerLink="/services"
 routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">SERVICES</a>
            <a class="p" href="" routerLink="/TECHNOLOGIES" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">TECHNOLOGIES</a>
            <a class="p" href="" routerLink="/join" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact:true}">TECHNOLOGIES</a>
            <a class="p" href="header_HOW">HOW</a>
        </span>
        <button class="header_contact_decstop" routerLink="/CONTACT">CONTACT US</button>
        <button class="header_JOIN_decstop" routerLink="/join">JOIN HYDRA</button>
        <a  class="header_menu"  href="/menu"   routerLink="/menu">
            
        <!--(click)="showmenu()" routerLink="/menu" routerLinkActive="active-link" (isActiveChange)="this.onRouterLinkActive($event)"> -->
       
            <p class="header_menu_p"></p>
        </a>
            <!-- <ng-template #menu ></ng-template> -->
    
    </header>

    <router-outlet>
    </router-outlet>
    

