<script>
    const screenWidth = window.screen.width
    document.getElementById("background").style.width = screenWidth
</script>    <header class="header">
        <picture class="header_logo">
        </picture>
        <span class="header_name">
            <picture class="h"></picture>
            <picture class="y"></picture>
            <picture class="d"></picture>
            <picture class="r"></picture>
            <picture class="a"></picture>
        </span>
        <span class="header_menu_decstop">
            <p class="p" href="header_ABOUT" routerLink="/ABOUT">ABOUT</p>
            <p class="p" href="header_SERVICES" routerLink="/services">SERVICES</p>
            <p class="p" href="header_TECHNOLOGIES" routerLink="/TECHNOLOGIES">TECHNOLOGIES</p>
            <p class="p" href="header_HOW">HOW</p>
          

        </span>
        <button class="header_contact_decstop" routerLink="/CONTACT">CONTACT US</button>
        <button class="header_JOIN_decstop" routerLink="/join">JOIN HYDRA</button>
        <div class="header_menu">
            <p class="header_menu_p"></p>
        </div>
    </header>

    <app-services>


    </app-services>

