
<div class="step3_mobile">
    <div class="step_carusel-location">
        <picture></picture>
        <div><span>Pay Us a Visit</span>
            <p>Union St, Seattle, WA 98101, United States</p>
        </div>
    </div>
    <div class="step_carusel-location">
        <picture></picture>
        <div><span>Pay Us a Visit</span>
            <p>Union St, Seattle, WA 98101, United States</p>
        </div>
    </div>
    <div class="step_carusel-emeil">
        <picture></picture>
        <div> <span>Pay Us a Visit</span>
            <p>Union St, Seattle, WA 98101, United States</p>
        </div>
    </div>
</div>  
<div class="step3_Slaider">
        <div class="step_carusel-location">
            <picture></picture>
            <div><span>Pay Us a Visit</span>
                <p>Union St, Seattle, WA 98101, United States</p>
            </div>
        </div>
        <div class="step_carusel-phone">
            <picture></picture>
            <div><span>Pay Us a Visit</span>
                <p>Union St, Seattle, WA 98101, United States</p>
            </div>
        </div>
        <div class="step_carusel-emeil">
            <picture></picture>
            <div> <span>Pay Us a Visit</span>
                <p>Union St, Seattle, WA 98101, United States</p>
            </div>
        </div>
    </div>
