 <div class="step_number">
    
    
    <div class="Technologies">
    <h2>HOW WE BUILD</h2>
    <p>WITH HYDRA VR?.</p>

</div>

<div class="number_mob" style="width: 180px;
height: 311px; border-radius: 40px;   padding: 12px;  box-sizing: border-box; margin: 0 auto">
    <number-slider style="width: 290px; height: 200px;" [slides]="slides"></number-slider>
</div>
<div class="Technologies_destop">
    <h2>HOW WE BUILD</h2>
    <p>WITH HYDRA VR?.</p>
    <div class="Tehnologies_arrow_dectop"></div>
</div>
<div class="text">Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat nibh sed pulvinar
    proin gravida hendrerit lectus. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
    sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae. </div>
 <picture class="line"></picture>
    <div class="number-destop">
    <div class="element1">
        <div class="windov1">
            01
        </div>
        <p>3D Conception & Design</p>
        
    </div>
    <div class="element2">
        <div class="windov1">
            02
        </div>
      <p>Interaction Design</p>  
    </div>
    <div class="element3">
        <div class="windov1">
            03
        </div>
        <p>VR World User Testing</p>
        
    </div>
    <div class="element4">
        <div class="windov1">
            04
        </div>
        <p> Hydra VR Deploy</p>

       
    </div>
</div>
</div>
