<div class=" step">
    
        <h3 class="step2_INTRODUCTION">INTRODUCTION</h3>
        <h3 class="step2_HYDRA_VR">TO HYDRA VR

        </h3>
        <div class="step2_arrow_dectop">

        </div>
        <div class="step2_ABOUT">ABOUT </div>
        <div class="step2_HYDR">HYDRA VR</div>
        <span class="step2_info_decstop">Vitae sapien
            pellentesque habitant morbi tristique senectus
            et netus et. Feugiat
            nibh sed pulvinar proin gravida hendrerit lectus.
            Mi sit amet mauris commodo
            quis imperdiet massa tincidunt nunc.
            Viverra aliquet eget sit amet tellus.
            Ornare
            lectus sit amet est placerat in. Lectus
            magna fringilla urna porttitor rhoncus vitae.
          </span>
        <div class="step2_picture">
            <picture class="step2_picture_boy"></picture>
        </div>
      <div class="step2_lorem">  <p >Eget mi proin sed libero enim sed faucibus turpis. Nisl
            rhoncus mattis rhoncus urna neque viverra justo. Vivamus
            at augue eget arcu dictum. Ultrices gravida dictum fusce
            ut placerat orci. Aenean et tortor at risus viverra adipisci
            ng at in. Mattis aliquam faucibus purus in massa. Est
            placerat in egestas erat imperdiet sed. Consequat sem
            per viverra nam libero justo laoreet sit amet. Aliquam
            etiam erat velit scelerisque in dictum non consectetur
            a. Laoreet sit amet cursus sit amet. Vel eros donec ac
            odio tempor orci dapibus. Sem nulla pharetra diam sit
            amet nisl suscipit adipiscing bibendum. Leo a diam
            sollicitudin tempor.</p></div>
     
        <button  class="step2_button" >LET’S GET IN TOUCH</button>
       
       
    
    
</div>