.step_toEdit{
  margin:  23px 11%;
  height: fit-content;
  width: max-content; 
  position: relative;
  display: block;
  box-sizing:border-box;
  margin-bottom: 14%;
  // padding: 23px  0 ;
}

.step1 {
  height: 501px;
  width: 100%;
  padding: 0 35.01px;
  margin-top: 12.01px;
  box-sizing: border-box;
  margin-bottom: 45px;
  position: relative;
}

.app-to-edit {

  display: grid;
  grid-template-areas:
    "  img    "
    "   .   "
    "  titleone "
    " .      "
    " titletwo "
    "   . "
    " title_button ";
  grid-template-columns: 318.67px;
  grid-template-rows: 277.04px 39.85px 49px 8px 39px 36px 52px;


}

.Line1 {
  position: absolute;
  width: 306px;
  height: 603px;
  left: -14px;
  top: -62px;
  background: url('../img_app/Vector\ 1.png') no-repeat;
  background-size: 100%;
  z-index: -1;

}

.Line3 {
  position: absolute;
  background: url('../img_app/Vector\ 3.png') no-repeat;
  background-size: 100%;
  width: 365px;
  height: 532px;
  left: 0px;
  top: 95px;
  z-index: -1;


}

.Line2 {
  position: absolute;
  background: url('../img_app/Vector\ 2.png') no-repeat;
  background-size: 100%;
  position: absolute;
  width: 316px;
  height: 709px;
  left: 23px;
  top: -65px;
  z-index: -1;

}

  .step3_Slaider {
      display: none;
  }

.girl_in_vr {
  grid-area: img;
  background: url('../img_app/pexels-michelangelo-buonarroti-8728382\ 1.png') no-repeat;
  background-size: 100%;
  width: 318.67px;
  height: 277.04px;
  border-radius: 100px 100px 100px 240px;
}



.titleone {
  grid-area: titleone;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
}

.titletwo {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: #FFFFFF;
  z-index: 2;
  grid-area: titletwo;
}

.titletwo>p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 10px;
  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;


}

.title_button {
  width: 292px;
  height: 52px;
  background: linear-gradient(90deg, #8176AF 0%, #C0B7E8 100%);
  border-radius: 40px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #343045;
  grid-area: title_button;

}





.titleone>p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  padding-bottom: 10px;

  background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  // text-fill-color: transparent;
}

.step3_mobile {
  width: 378px;
  // bottom: 34px;
  // margin: 230px 11%;
  position: absolute;
  // top: -3px;
  left: -45px ;
  height: 134px;
  display: block;
  margin: 10px 10%;
  overflow: hidden;
  margin-bottom: 98px;
  
}

.slaider_mobile {
  left: 0px !important;
  display: flex;
  align-content: flex-end;
  width: 692px;
  height: 109px;
  position: absolute;

}
.Slaider1_prev{
  border: #FFFFFF solid;
  border-radius: 50%;
  position: absolute;
  width: 30px;
height: 30px;
background-color: transparent;
  top: 572px;
  left: 61px;
  // transform: rotate(90deg);
}
.Slaider1_prev::after{
  content: "";
  position: absolute;
  top: 14px;
  left: 8px;
  width: 9px;
  height: 1px;
  transform: rotate(45deg);
  background-color: #FFFFFF;


}
.Slaider1_prev::before{
  content: "";
  position: absolute;
  top: 9px;
  left: 8px;
  width: 9px;
  height: 1px;
  transform: rotate(145deg);
  background-color: #FFFFFF;


}
.Slaider1_next{
 
  top: 570px;
  left: 354px;
  border: #FFFFFF solid;
  border-radius: 50%;
  position: absolute;
  width: 30px;
height: 30px;
background-color: transparent;
}
.Slaider1_next::after{
  content: '';
  position: absolute;
  top: 15px;
  left: 9px;
  width: 9px;
  height: 1px;
  transform: rotate(135deg);
  background-color: #FFFFFF;

}.Slaider1_next::before{
  content: '';
  position: absolute;
  top: 8px;
  left: 9px;
  width: 9px;
  height: 1px;
  transform: rotate(45deg);
  background-color: #FFFFFF;
}
.Slaider1_next:active{
  border-style: dashed;
}
.Slaider1_prev:active{
  border-style: dashed;
}



@media screen and (max-width: 490px) and (min-width:350px) {
  .title_description {
    display: none;
  }
}

@media screen and (max-width: 2300px) and (min-width:490px) {
  .app-to-edit {
    width: 1250px;
    height: 534px;
    display: grid;
    grid-template-areas:
      " .  .  .  img "
      "  driv driv  . img "
      // "  . . . . "
      " of of  .   img "
      // " .  . . . "
      "  title title . img"
      // " . . . . "
      " button arrow . img"
      " .  .  .  img ";
    grid-template-columns: 228px 228px 308px 490px;
    grid-template-rows: 35px 56px 56px 72px 48px 54px;
    align-content: space-between;
  }
  .step3_Slaider {
    width: max-content;
    margin-left: 6%;
    height: 167px;
    background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211E2E 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    box-shadow: 0px 4px 4px rgba(192, 183, 232, 0.01);
    border-radius: 90px;

}
.step_carusel-location,
.step_carusel-phone,
.step_carusel-emeil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 12px;


}

.step_carusel-location>div,
.step_carusel-phone>div .step_carusel-emeil>div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step_carusel-location>img {
  // background: url('../img_app/claider1Location-Icon.png') no-repeat;
  background-size: 100%;
  width: 70px;
  height: 70px;
  margin-right: 23px;

}
.step_carusel-phone>img{
  background-size: 100%;
  width: 70px;
  height: 70px;
  margin-right: 23px;

}
.step_carusel-emeil>img{
  background-size: 100%;
  width: 70px;
  height: 70px;
  margin-right: 23px;

}
.step_carusel-location>div>span,
.step_carusel-phone>div>span,
.step_carusel-emeil>div>span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;

}
.step_carusel-location>div>p,
.step_carusel-phone>div>p,
.step_carusel-emeil>div>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.step_carusel-location::after,
.step_carusel-phone::after {
    content: '';
    width: 1px;
    height: 116.5px;
    border: 1px solid rgba(192, 183, 232, 0.33);
}
.step3_Slaider {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

  .girl_in_vr {
    grid-area: img;
    width: 490px;
    height: 426px;


  }

  .titleone {
    grid-area: driv;
    align-items: flex-start;
    align-content: center;
    width: 456px;
    height: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    background: linear-gradient(91.57deg, #C0B7E8 -1.02%, #8176AF 36.25%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 23;
  }

  .titleone>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    box-sizing: border-box;
  }

  .titletwo {
    grid-area: of;
    width: 402px;
    height: 56px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 46px;
    line-height: 56px;
  }

  .titletwo>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
  }

  .title_button {
    grid-area: button;
    width: 214px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }

  .title_description {
    grid-area: title;
    width: 450px;
    height: 72px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }

  .arrow {
    grid-area: arrow;
    border: 3px solid #C0B7E8;
    height: 0px;
    width: 41px;
    position: relative;
  }

  .arrow::after {
    content: "";
    border: 1.5px solid #C0B7E8;
    height: 1px;
    width: 25px;
    transform: rotate(138deg);
    position: absolute;
    background-color: #C0B7E8;
    border-radius: 6%;
    top: 9px;
    left: 23px;
  }

  .arrow::before {
    content: '';
    border: 1.5px solid #C0B7E8;
    height: 1px;
    width: 25px;
    transform: rotate(45deg);
    position: absolute;
    background-color: #C0B7E8;
    top: -8px;
    left: 23px;
    border-radius: 6%;
  }

  .Line1 {
    position: absolute;
   
    z-index: -1;
}

.Line1{
    position: absolute;
    width: 609px;
    height: 1203px;
    left: 732px;
    top: -225px;
    z-index: -1;
}


  .Line2 {
    position: absolute;
    width: 578px;
    height: 1135px;
    left: 804px;
    top: -321px;
    z-index: -1;
  }

  .Line3 {
    position: absolute;
    width: 807px;
    height: 832px;
    left: 671px;
    top: 223px;
    z-index: -1;

  }
.step3_mobile{
  display: none;
}
.Slaider1_prev{
  display: none;

}
.Slaider1_next{
  display: none;
}

}