   <div class="step1">
     <picture class="Line1"></picture>
        <picture class="Line2"></picture>
        <picture class="Line3"></picture>
    <div class="app-to-edit">
 
    <div class="titleone">
        <p>Dive</p> Into The Depths
    </div>
    <div class="titletwo">
        Of <p>Virtual Reality</p>
    </div>
    <div class="title_description">
        Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Nostrum nesciunt sint
        fugit sequi vitae ex consectetur architecto
        laborum illo pariatur, veritatis vel accusantium
        sapiente enim. Laborum unde tempora aut quae!
    </div>
    <div class="arrow"></div>
    
   
    <div class="girl_in_vr"></div>
    
    <button class="title_button">
        BUILD YOUR WORLD
    </button>

</div>
</div>