
 <div class="Step_posts">  
  <h2 class="Step_posth2">WHY BUILD</h2>
  <p class="Step_postP">WITH HYDRA?</p>
  <div class="Post_arrow_dectop"></div>

<div class="Post_text_dectop">Vitae sapien pellentesque habitant morbi tristique senectus et netus et. Feugiat nibh sed pulvinar
    proin gravida hendrerit lectus. Mi sit amet mauris commodo quis imperdiet massa tincidunt nunc. Viverra aliquet eget
    sit amet tellus. Ornare lectus sit amet est placerat in. Lectus magna fringilla urna porttitor rhoncus vitae. </div>
  <div class="Post">

      <div *ngFor="let slide of slides"> 
        <div class="usersa">
        <div class="titleua">{{slide.titleua}}</div>
        <div class="titleeng">{{slide.titleeng}}</div>
       <div class="textua">{{slide.textua}}</div>
       <div class="texteng">{{slide.texteng}}</div>
        <div class="urlimg" [style.background-image]="'url(' + slide.urlimg + ')'"></div> 
        <button class="slaiders_button"><a class="hrefbutton"[style.href]="'(' + slide.hrefbutton + ')'">TRY IT NOW</a></button> 

 </div></div>
</div> 
<div class="post_mob" style="position: relative;background: radial-gradient(50% 50% at 50% 50%, #433D60 0%, #211E2E 100%);
border-radius: 40px;width: 310px; height: 511px; border-radius: 40px;   padding: 12px;  box-sizing: border-box; margin: 0 auto">
  <post-slider style="width: 290px; height: 200px;" [slides]="slides"></post-slider>
</div></div>